<md-toolbar>
  <span class="md-display-1">Accounts</span>
  <span class="app-toolbar-separator"></span>
  <button md-raised-button class="md-primary">New <md-icon>add</md-icon></button>
</md-toolbar>

<md-input placeholder="Name" autofocus></md-input>
<md-input placeholder="Industry" autofocus></md-input>
<md-input placeholder="Created" autofocus></md-input>
<md-input placeholder="Manager" autofocus></md-input>

<md-card class="data-table">
  <md-data-table [selectable]="true" (onSelectableChange)="change($event)">
    <thead>
    <tr md-data-table-header-selectable-row>
      <th class="md-text-cell">Name</th>
      <th>Status</th>
      <th>Contants</th>
      <th>Manager</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows" md-data-table-selectable-row>
      <td class="md-text-cell">{{ row.name }}</td>
      <td class="md-text-cell">{{ row.status }}</td>
      <td class="md-text-cell">{{ row.contacts }}</td>
      <td class="md-text-cell">{{ row.manager }}</td>
      <td><md-icon>edit</md-icon> <md-icon>delete</md-icon></td>
    </tr>
    </tbody>
  </md-data-table>

  <md-toolbar color="accent" *ngIf="selection">
    <span>{{count}} item{{count > 1 ? 's' : ''}} selected</span>
    <span flex hide show-gt-md></span>
    <span class="md-caption" hide show-gt-md>{{selection}}</span>
  </md-toolbar>
</md-card>
