{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
          <h1>Info</h1>
          <p>Info: {{ slug }}</p>
        </div>
    </div>
{% endblock %}
