@import '~ng2-material/all';
@import '~@angular/material/core/theming/all-theme';
//@import "~ng2-material/core/style/mixins";
//@import "~ng2-material/core/style/palette";
//@import "~ng2-material/core/style/shadows";
//@import "~ng2-material/core/style/structure";
//@import "~ng2-material/core/style/typography";
//@import "~ng2-material/core/style/layout";
//@import "~ng2-material/core/style/variables";
//@import '~ng2-material/core/style/default-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

//Here the existing theme is being redfined
$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

// This is where you define your custom them

// md-palette takes, color, default, lighter and darker params
.m2app-dark {
  $dark-primary: md-palette($md-cyan, 700, 500, 900);
  $dark-accent:  md-palette($md-yellow, A200, A100, A400);
  $dark-warn:    md-palette($md-amber, A200, A100, A400);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

md-toolbar a {
  $foreground: map-get($theme, foreground);
  color: md-color($foreground, text);
}
md-toolbar[color="primary"] a {
  $background: map-get($theme, background);
  color: md-color($background, app-bar);
}

// Customize components
@mixin app-theme($theme) {
  $data-table-font-size: rem(1.4);
  $data-table-header-font-size: rem(1.4);
  md-data-table, .md-data-table {
    font-size: $data-table-font-size;
    th {
      font-size: $data-table-header-font-size;
    }
  }
}
@include app-theme($theme);
