<md-toolbar>
  <span class="md-display-1">Accounts</span>
  <span class="app-toolbar-separator"></span>
  <button md-raised-button class="md-primary" [routerLink]="['./new']">New <md-icon>add</md-icon></button>
</md-toolbar>

<div class="filter">
  <button md-raised-button>Filter <md-icon>filter_list</md-icon></button>
</div>

<md-card class="data-table">


  <md-toolbar *ngIf="selection">
    <span class="md-body-1">{{count}} item{{count > 1 ? 's' : ''}} selected</span>
    <span flex hide show-gt-md></span>
    <span class="md-caption" hide show-gt-md>{{selection}}</span>
  </md-toolbar>

  <md-toolbar>
    <button md-raised-button class="md-primary" [md-menu-trigger-for]="menu" *ngIf="selection">
      Selected<md-icon>expand_more</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item><md-icon>mail_outline</md-icon> Email </button>
      <button md-menu-item><md-icon>print</md-icon> Print </button>
      <hr/>
      <button md-menu-item (click)="confirmDelete.show()"><md-icon>delete</md-icon> Delete</button>
    </md-menu>

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

</md-card>
